.input:focus {
}

.input {
  width: 372px;
  height: 36px;
  border: 1px;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  outline: none
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border-color: red;
}

.errorInput:focus {
  border-color: red;
}

.error {
  color: red;
}
