.burgerMenuIcon {
  margin-left: 70px;
  /* margin-top: 20px; */
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin-right: 70px;
  /* margin-top: 17px; */
  
  font-size: 24px;
}