.button {
	height: 30px;
	padding: 5px 24px 5px 24px;
	border-radius: 3px;
	border: none;

	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.disabled {
	background-color: white;
	color: #002e5c;
	opacity: 50%;
	background-color: #004d99;
}

.secondary {
	color: #0066cc;
	/* width: 176px; */
	border-style: solid;
	border-color: #0066cc;
	background-color: white;
}

.default {
	background-color: #0066cc;
}

.red {
	background-color: #cc1439;
}

.default:hover {
	/* width: 167px; */
	background-color: #0080ff;
	transform: scaleX(1.1);
}

.red:hover {
	/* width: 167px; */
	background-color: #ff1a47;
}

.secondary:hover {
	color: #0066cc;

	background-color: #e5f0fa;
	/* margin-left: 50px; */
	/* width: 167px; */

	/* transform-origin: left; */
	transform: scaleX(1.1);
}

.default:active {
	background-color: #0059b2;
}

.secondary:active {
	background-color: #c9e5ff;
}

.red:active {
	background-color: #b21232;
}

.button:disabled {
}
