.button {
	display: flex;
	width: 129px;
	height: 30px;
	padding: 5px 24px 5px 24px;
	border-radius: 3px;
	border: none;

	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: white;
	/* box-sizing: border-box; */
}

.disabled {
	background-color: white;
	color: #002e5c;
	opacity: 50%;
	background-color: #004D99;

}

.secondary {
	color: #0066cc;
	width: 176px;
	border-style: solid;
	border-color: #0066cc;
	background-color: white;
}

.default {
	background-color: #0066cc;
}

.red {
	background-color: #cc1439;
}

.default:hover {
	width: 167px;
	background-color: #0080FF;

}

.red:hover {
	width: 167px;
	background-color: #FF1A47;

}

.secondary:hover {
	
	color: #0066CC;

	background-color: #E5F0FA;
	/* margin-left: 50px; */
	/* width: 167px; */
	
	transform-origin: left;
	transform: scaleX(1.1)

}

.default:active {
	background-color: #0059B2;

}

.secondary:active {
	background-color: #C9E5FF;

}

.red:active {
	background-color: #B21232;

}

.button:disabled {
}
