.button {
	width: Hug (129px) px;
	height: Hug (30px) px;
	top: 1519px;
	left: 576px;
	padding: 5px 24px 5px 24px;
	gap: 10px;
	border-radius: 3px 0px 0px 0px;
	opacity: 0px;

	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: white;
	
}

.disabled {
	background-color: #004d99;
	opacity: 50%;
}

.secondary {
	color: #0066cc;
	width: Hug (176px) px;
	
}

.default {
	background-color: #0066cc;
	
}

.red {
	background-color: #CC1439;
	
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
